In [1]:
# importing the necessary libraries

import pandas as pd
import numpy as np

# importing the libraries for visualisation

import matplotlib.pyplot as plt
import seaborn as sns

# importing libraries for model

import sklearn
import statsmodels.api as sm


import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

# Setting the display options
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
#Lets import the file 
rpd=pd.read_csv("Received_Payments_Data.csv")
rpd.head()

,RECEIPT_METHOD,CUSTOMER_NAME,CUSTOMER_NUMBER,RECEIPT_DOC_NO,RECEIPT_DATE,CLASS,CURRENCY_CODE,Local Amount,USD Amount,INVOICE_ALLOCATED,INVOICE_CREATION_DATE,DUE_DATE,PAYMENT_TERM,INVOICE_CLASS,INVOICE_CURRENCY_CODE,INVOICE_TYPE
0,WIRE,C EA Corp,37403,1.421000e+10,20-Apr-21,PMT,USD,370990.92,101018.63040,14200000001,2-Nov-20,30-Dec-20,30 Days from EOM,INV,AED,Non Goods
1,WIRE,RADW Corp,4003,9.921000e+10,31-Jan-21,PMT,SAR,183750.00,48990.21133,99200000043,29-Dec-20,28-Jan-21,30 Days from Inv Date,INV,SAR,Non Goods
2,WIRE,RADW Corp,4003,9.921000e+10,31-Jan-21,PMT,SAR,157500.00,41991.60971,99210000003,30-Jan-21,1-Mar-21,30 Days from Inv Date,INV,SAR,Non Goods
3,WIRE,FARO Corp,1409,9.921000e+10,31-Jan-21,PMT,SAR,157500.00,41991.60971,99200000038,15-Dec-20,14-Jan-21,30 Days from Inv Date,INV,SAR,Non Goods
4,WIRE,RADW Corp,4003,9.921000e+10,31-Jan-21,PMT,SAR,157500.00,41991.60971,99200000039,15-Dec-20,14-Jan-21,30 Days from Inv Date,INV,SAR,Non Goods

In [3]:
#let callout the other file as well
oid=pd.read_csv("Open_Invoice_data.csv",encoding="ISO-8859-1")
oid.head()

,AS_OF_DATE,Customer Type,Customer_Name,Customer Account No,Transaction Number,Transaction Date,Payment Term,Due Date,Transaction Currency,Local Amount,Transaction Class,AGE,USD Amount,INV_CREATION_DATE
0,04-APR-2022 01:07:01,3rd Party,GIVE Corp,49144.0,100210000438,21/12/2021,Immediate,21/12/2021,AED,"-3,088",CREDIT NOTE,105,"-3,088",12/21/2021 12:53
1,04-APR-2022 01:07:01,Related Party,AL J Corp,23152.0,100220000052,01/02/2022,30 Days from Inv Date,03/03/2022,USD,"2,000",INVOICE,33,"2,000",2/1/2022 14:09
2,04-APR-2022 01:07:01,Related Party,AL J Corp,23152.0,100220000143,24/03/2022,30 Days from Inv Date,23/04/2022,USD,"2,000",INVOICE,-18,"2,000",3/24/2022 17:46
3,04-APR-2022 01:07:01,Related Party,AL R Corp,23312.0,100220000001,04/01/2022,15 Days from Inv Date,19/01/2022,AED,"2,415",INVOICE,76,"2,415",1/5/2022 11:49
4,04-APR-2022 01:07:01,Related Party,ALLI Corp,7530.0,100220000105,03/03/2022,30 Days from EOM,30/04/2022,AED,"3,800",INVOICE,-25,"3,800",3/3/2022 22:30

In [4]:
# Checking the shape of both the file
oid.shape

(88204, 14)

In [5]:
rpd.shape

(93937, 16)

In [6]:
#Lets have more lens look on columns of received payment data
rpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93937 entries, 0 to 93936
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RECEIPT_METHOD         93937 non-null  object
 1   CUSTOMER_NAME          93937 non-null  object
 2   CUSTOMER_NUMBER        93937 non-null  int64
 3   RECEIPT_DOC_NO         93908 non-null  float64
 4   RECEIPT_DATE           93937 non-null  object
 5   CLASS                  93937 non-null  object
 6   CURRENCY_CODE          93937 non-null  object
 7   Local Amount           93937 non-null  float64
 8   USD Amount             93937 non-null  float64
 9   INVOICE_ALLOCATED      93937 non-null  object
 10  INVOICE_CREATION_DATE  93937 non-null  object
 11  DUE_DATE               93937 non-null  object
 12  PAYMENT_TERM           93937 non-null  object
 13  INVOICE_CLASS          93937 non-null  object
 14  INVOICE_CURRENCY_CODE  93937 non-null  object
 15  INVOICE_TYPE           93937 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 11.5+ MB